<h1>
    <%= image_tag(asset_path("write my essay.png"), :style => "height:200px; margin-top:20px;") %>
    <div style="font-size:16px; color:white; "> Scholarships and college applications essays simplified. </div> 
</h1>
    <div>
        <p data-bind="text: question, css: {panel:!printparagraph() }"></p>
    </div>
    
    <div>
    </div>
     <div id = "divintroparagraph" class="panel" >
         
    

    <div data-bind="visible: printparagraph">
      Introduction Paragraph
    </div>
                 <div>
                     <textarea id="sentencebox" type="text" data-bind="value: sentence, visible: ! printparagraph (), css: {panel:printparagraph }">
            </textarea>
          <div id="divexampleparagraph">
       
    </div>
         </div>

         <div>

         <button data-bind="click: connect, visible: !printparagraph()" class="button">
             NEXT!
         </button>
       </div>
      
    </div>

    <div data-bind="visible: printparagraph" >
        <div style="clear:both;"></div>
        <div style="float:left; width:45%;">
        <div >
            Example
        </div>
         <p id="exampleparagraph" data-bind="visible: printparagraph" class="panel" style="  color:#73a8e2">
             I founded a public speaking after-school program for middle schoolers in East St. Louis, MO. 
            I had to demonstrate strong oratorical abilities to lead by example. In addition, maintaining a respectful, productive classroom required social intelligence and constructive discipine skills, which are valuable leadership skills. 
            I plan to become a lawyer. The ability to mentor others and deliver a clear, persuasive message will help me achieve this career. 
            This experience showed that I am compassionate for the next generation. 
        </p>
        </div>
        <div style="float:right; width:45%;">
         <div>
            Your Introduction Paragraph!
        </div>
    <textarea id="intro" data-bind="value: results, visible: printparagraph" style="color:white; font-size:20px;" class="panel">
    </textarea>
            <div style="clear:both;"></div>
        </div>
    </div>


   

    <div class="panel" data-bind=" visible:!printparagraph()">
        Example
        <p data-bind="text: example" ></p>
    </div>